.chat-main
  .chat-main__group-info
    .items-info
      .items-info__top-left
        .group-name 
          = @group.name    
        .member-list 
          Member :
          - @group.users.each do |user|
            = user.name 
      .items-info__top-right
        = link_to edit_group_path(@group.id), class: "btn-edit" do
          .edit
            Edit
  .chat-main__message-list
    .message
      = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .message__image
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'label' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'image-form'
      = f.submit 'Send', class: 'new_message send-form'